<!-- <div class="container"> -->
    <div class="row">
        <div class="col-sm-4 col-med-4 col-lg-4">
            <h4 class="site-title"><a href="/#" rel="home">Maria Gracia Ogliastri</a></h4>
            <h1 class="menu-toggle"></h1>
            <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
                <span id="navigation-close"></span>
                <div id="top-main-menu" class="menu-main-menu-container">
                    <ul id="main-menu" class="nav-menu">
                        <li class="menu-item">
                            <a ng-href="/#/about">About</a>
                        </li>
                        <li class="menu-item">
                            <a href="/#/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="projects-list" id="projects-list"></div>
            </nav>
        </div>
        <div class="project-container" class="project-container">Content</div>
    </div>
<!-- </div> -->
