<div>
    <div>
        {% for slide in project.slides %}<div class="slide hidden" data-index="{{loop.index}}">
            {% if slide.type === 'vimeo' %}
                <iframe src="//player.vimeo.com/video/{{slide.vimeoId}}" frameborder="0" 
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {% elseif slide.type === 'image' %}
                <img class="slide-img" src="{{slide.url}}" alt="{{slide.label}}">
                <label>{{slide.label}} {{data}}</label>
            {% elseif slide.type === 'mp3' %}
                <audio controls preload="none" style="width:480px;">
                    <source src="{{slide.m4a}}" type="audio/mp4" />
                    <source src="{{slide.ogg}}" type="audio/ogg" />
                    <p>Your browser does not support HTML5 audio.</p>
                </audio>
            {% endif %}
        </div>{% endfor %}
    </div>
    <div class="paging">
        {% for slide in project.slides %}
            <a href="#" data-slide="{{loop.index}}">{{loop.index}}</a>
        {% endfor %}
    </div>
</div>