@font-face {
	font-family: "Grotesque";
	src: url("./Grotesque.otf");
}


html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Grotesque";
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.projects-list {
	.project-list-item {
		.description {
			display: none;
		}
		
		&:hover > .description{
			display: block;
		}
	}
}

.project-container {
	white-space: nowrap;
  overflow-x: scroll;
  overflow-y: auto;
  position: relative;
  height: 90vh;

	.slide {
    padding-right: 10px;
    height: 85vh;
    display: inline-block;
    audio {
    	display: block;
    	width: 100%;
    }
	}

	.slide.nelson {
		display: block;
		text-align: center;
	}

	.about-sections {
		width: 50vw;
	}

	.article-wrapper article {
		margin-bottom: 1.5em;
		width: 50%;
		float: left;
	}
	
	.paging {
	    text-align: center;
	    span {
	        margin-right: 3px;
	    }
	}

	.slide-img {
		display: inline-block;
		height: 85vh;
	}
	.with-mp3 {
		height: 80vh;
	}
	.slide-label {
		display: block;
		text-align: center;
		padding: 1em;
	}
	.slide-img > img {
		height: 100%;
	}
}

.slide.vimeo {
	iframe {
		height: 80vh;
		width: 160vh;
	}
}
