ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.projects-list {
	.project-list-item {
		.description {
			display: none;	
		}
		
		&:hover > .description{
			display: block;
		}
	}
}
